<!--<wmat-toolbar routerLink="/">Bookmarker</wmat-toolbar>-->
<mat-toolbar color="primary"  >
  <mat-toolbar-row>
  <span>
     Bookmarker
  </span>
    <mat-form-field class="example-full-width">
      <mat-icon aria-hidden="false" aria-label="Search" fontIcon="search"></mat-icon>

      <input matInput placeholder="Filter bookmarks..." value="Sushi" [(ngModel)]="searchText" (ngModelChange)="onSearch($event)">
    </mat-form-field>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

