Today

@for (bookmark of bookmarks; track bookmark.id) {
  <li>
    <mat-icon aria-hidden="false" aria-label="Bookmark icon" fontIcon="bookmark"></mat-icon>
    {{ bookmark.name }}
    <a href="{{bookmark.url}}" target="_blank">{{ bookmark.url }}</a>
    <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"
              routerLink="edit/{{bookmark.id}}"
    ></mat-icon>

    <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete"
              (click)="onRemove(bookmark.id)"
    ></mat-icon>
  </li>
} @empty {
  <li>There are no items.</li>
}


